.view-doris-comment-sentiment .comment.sentiment {
  border-top: 1px solid;
  padding: 5px;
}

.view-doris-comment-sentiment .comment.sentiment.positive,
.comment.sentiment.positive .comment-body {
  border-top-color: green;
}

.comment.sentiment.neutral,
.comment.sentiment.neutral .comment-body {
  border-top-color: gray;
}

.comment.sentiment.negative,
.comment.sentiment.negative .comment-body {
  border-top-color: red;
}

.view-doris-node-comment-sentiment-views .views-exposed-form,
.view-doris-node-comment-sentiment-views .view-content {
  margin: 10px 80px 0;
}

.view-doris-node-comment-sentiment-views .views-exposed-form {
  margin-top: 0px;
  margin-bottom: 30px;
}

.view-doris-node-comment-sentiment-views .views-row {
  padding: 10px;
  border: 1px dotted black;
  list-style: none;
}

div.breakdown {
  margin-top: 20px;
}

div.breakdown ul {
  margin-left: 40px;
}

.doris-sentiment-comment-breakdown .positive {
  color: green;
}

.doris-sentiment-comment-breakdown .neutral {
  color: gray;
}

.doris-sentiment-comment-breakdown .negative {
  color: red;
}
